@import 'animations';

.place-groups {
  width: 200px;
  cursor: pointer;

  &__caption {
    padding: 10px 15px;
    border-bottom: solid 1px #aaa;
    border: solid 2px rgba(0, 0, 0, .2);
  }

  &__list {
    --icon-color: #aaa;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    border-top: none;

    &--wrapper {
      height: 0;
      overflow-y: auto;
      max-height: 200px;

      &.show {
        animation: anim-show .25s linear forwards;
      }

      &.hide {
        animation: anim-hide .25s linear forwards;
      }
    }

    &-item {
      padding: 10px 15px;
      transition: .25s;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--icon-color);
        display: inline-block;
        margin-right: 10px;
        border-radius: 3px;
      }
    }
  }
}

.icon .icon-div {
  width: 100%;
  height: 100%;

  &.icon-rounded {
    border-radius: 5px;
  }

  &.icon-circle {
    border-radius: 100%;
  }
}